.toast {
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}

.toast i{
    margin: 20px 10px;
    font-size: 35px;
    color: black;
}

.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100%{
        width: 0%;
    }
}

#toastBox {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}